img {
  width: 100%;
}

#hero {
  width: 100%;
  display: block;
}

header {
  position: fixed;
  width: 100%;
  transition: 0.2s;
  background-color: transparent;
  z-index: 10;
}

.header_contents {
  padding: 30px 80px;
  display: flex;
  justify-content: space-between;
}

header h1 {
  color: #fffaf0;
  font-family: "游明朝 Medium", "Yu Mincho Medium", "Yu Mincho", serif;
}

.header-nav {
  list-style: none;
  text-align: right;
}

.header-nav ul {
  display: flex;
  padding: 10px 0;
}

.nav-item a {
  color: #fffaf0;
  transition: 0.3s;
}

.nav-item a:hover {
  color: #c0cc50;
  opacity: 0.5;
}

.nav-item:not(:last-child) {
  margin-right: 20px;
}


header.active {
  opacity: 0.9;
  background-color: #5f6527;
}


main {
  background-color: #fffafa;
}

.main_contents {
  width: 100%;
  margin: 0 auto; 
  padding-top: 50px; 
} 

.main_title {
  display: inline-block;
  color: #707070;
  font-size: 32px;
  font-family: "游明朝 Medium", "Yu Mincho Medium", "Yu Mincho", serif;
  line-height: 1.6;
  font-weight: 700;
  margin-bottom: 100px;
  border-bottom: 2px solid #707070;
  animation: titleAnimation 2s;
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    letter-spacing: .3em;
  }
}

.main_title span {
  font-size: 24px;
}

.mainItem {
  display: flex;
  margin-bottom: 100px;
}

.main_text {
  color: #707070;
  font-size: 16px;
  font-family: "游明朝 Medium", "Yu Mincho Medium", "Yu Mincho", serif;
  line-height: 1.7;
  margin-left: 20px;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(50px);
  width: 40%;
}

.mainPhoto {
  width: 40%;
}

.mainItem img {
  opacity: 0;
  visibility: hidden;
  transition: 1s .3s;
  transform: translateX(-30px);
}

.mainItem.show img,
.mainItem.show p {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.mainItem.show p {
  width: 40%;
}

.work_july {
  padding-bottom: 50px;
}

.work_july a {
  text-decoration: none;
  color: #707070;
  font-family: "游明朝 Medium", "Yu Mincho Medium", "Yu Mincho", serif;
  border-bottom: 2px solid #707070;
}

.work_july p {
  text-align: center;
  font-size: 32px;
}

.work_july span {
  font-size: 24px;
}

.footer_contents {
  background-color: #5f6527;
  height: 60px;
  opacity: 0.9;
}

.footer_copyright {
  color: #fffaf0;
  font-size: 16px;
  font-family: "游明朝 Medium", "Yu Mincho Medium", "Yu Mincho", serif;
  text-align: center;
  padding-top: 20px;
}

@media (min-width:780px){
.mainItem {
  display: flex;
  margin-bottom: 100px;
  }
  
 header span {
  font-size: 18px;
}
 header h1 {
   font-size: 32px;
}
}

@media (max-width:780px){
  .mainItem {
  margin-bottom: 100px;
  } 
  
  header span {
  font-size: 11px;
}
   header h1 {
   font-size: 24px;
}
}
